.Rproj.user
.Rhistory
.RData
.Ruserdata
*.dat
*.eps
*.mlxtran
*.tex
*.xml
*.svg
**/98. Escrito detallado/*
*.properties

*.pkx
*.xlsx
*.png
*.aci
*.for
*.obj
*.run
*.txt*.log
*.syc
00. Datos/Calibracion/Escrito/Informe_validacion.bbl
00. Datos/Calibracion/Escrito/Informe_validacion.blg
00. Datos/Calibracion/Escrito/Informe_validacion.aux
00. Datos/Calibracion/Escrito/Informe_validacion.blg
00. Datos/Calibracion/Escrito/Informe_validacion.synctex.gz
00. Datos/Calibracion/Escrito/Informe_validacion.aux
00. Datos/Calibracion/Escrito/referencias.bib
00. Datos/Calibracion/Escrito/Informe_validacion.synctex.gz
02. Base/M1CPTM/ADAPT/param_1CP.prm
02. Base/M2CPTML_LOQ/2compcl.exe
02. Base/M2CPTM2/ADAPT/2compcl.exe
02. Base/M2CPTM/ADAPT/param_2CP.prm
02. Base/M2CPTM/ADAPT/2compcl.exe
*.lnk
07. Minimizacion/1_MINIMIZACION/MODELO_BASE/History/2020-02-26_10h54m28s/RES_M1/pcvpc_environ.RData
07. Minimizacion/1_MINIMIZACION/MODELO_BASE/History/2020-02-26_10h54m28s/RES_M1/script_graficos.R
07. Minimizacion/1_MINIMIZACION/MODELO_BASE/History/2020-02-26_10h54m28s/RES_M1/script_VPC.R
07. Minimizacion/1_MINIMIZACION/MODELO_BASE/History/2020-02-26_10h54m28s/RES_M1/script_VPC_modificado.R
07. Minimizacion/1_MINIMIZACION/MODELO_BASE/History/2020-02-26_10h54m28s/RES_M1/script_VPC_LOESS.R
07. Minimizacion/1_MINIMIZACION/MODELO_BASE/History/2020-02-26_11h10m12s/RES_M1/pcvpc_environ.RData
07. Minimizacion/1_MINIMIZACION/MODELO_BASE/History/2020-02-26_10h54m28s/RES_M1/vpc_environ.RData
07. Minimizacion/1_MINIMIZACION/MODELO_BASE/History/2020-02-26_11h10m12s/RES_M1/script_graficos.R
07. Minimizacion/1_MINIMIZACION/MODELO_BASE/History/2020-02-26_11h10m12s/RES_M1/script_VPC.R
07. Minimizacion/1_MINIMIZACION/MODELO_BASE/History/2020-02-26_11h10m12s/RES_M1/script_VPC_LOESS.R
07. Minimizacion/1_MINIMIZACION/MODELO_BASE/History/2020-02-26_11h10m12s/RES_M1/script_VPC_modificado.R
07. Minimizacion/1_MINIMIZACION/MODELO_BASE/History/2020-02-26_11h10m12s/RES_M1/vpc_environ.RData
07. Minimizacion/1_MINIMIZACION/MODELO_BASE/History/2020-03-03_11h54m17s/MODELO_BASE/script_graficos.R
07. Minimizacion/1_MINIMIZACION/MODELO_BASE/History/2020-03-03_11h54m17s/MODELO_BASE/script_VPC_LOESS.R
07. Minimizacion/1_MINIMIZACION/MODELO_BASE/History/2020-03-03_11h54m17s/MODELO_BASE/script_VPC.R
07. Minimizacion/1_MINIMIZACION/MODELO_BASE/History/2020-03-03_11h54m17s/MODELO_BASE/script_VPC_modificado.R
07. Minimizacion/1_MINIMIZACION/MODELO_BASE/History/2020-03-03_11h54m17s/MODELO_BASE/vpc_environ.RData
07. Minimizacion/1_MINIMIZACION/MODELO_BASE/script_graficos.R
07. Minimizacion/1_MINIMIZACION/MODELO_BASE/script_VPC.R
07. Minimizacion/1_MINIMIZACION/MODELO_BASE/script_VPC_LOESS.R
07. Minimizacion/1_MINIMIZACION/MODELO_BASE/script_VPC_modificado.R
07. Minimizacion/1_MINIMIZACION/MODELO_BASE/vpc_environ.RData
08. Outliers/Pmetrics/*
98. Escrito detallado/CAP0_INTRO/Introduccion.aux
98. Escrito detallado/CAP0_INTRO/Marco_Teorico.aux
98. Escrito detallado/CAP0_INTRO/Metodologia.aux
98. Escrito detallado/CAP1/CAP1.aux
98. Escrito detallado/CAP1/Figuras/Resultados
98. Escrito detallado/CAP5/CAP5.aux
98. Escrito detallado/CAP5/CENSURA
98. Escrito detallado/CAP5/crear_vinculo.BAT
98. Escrito detallado/CAP5/M1CPTM
98. Escrito detallado/CAP5/M2CPTM
98. Escrito detallado/CAP5/M3CPTM
98. Escrito detallado/CAP5/MODELO_BASE_1
98. Escrito detallado/CAP5/RESIDUALES
98. Escrito detallado/CAP6/CAP6.aux
98. Escrito detallado/CAP6/CORRELACION
98. Escrito detallado/CAP6/crear_vinculo.BAT
98. Escrito detallado/CAP8/CAP3.aux
98. Escrito detallado/CAP9/CAP4.aux
98. Escrito detallado/Pictures/modelo_3CPTM_grafico.vsdx
*.bib
06. Correlacion_ETA/MODELO_BASE/History/2020-03-03_11h54m17s/MODELO_BASE/vpc_environ.RData
06. Correlacion_ETA/MODELO_BASE/History/2020-03-03_11h54m17s/MODELO_BASE/script_VPC_modificado.R
06. Correlacion_ETA/MODELO_BASE/History/2020-03-03_11h54m17s/MODELO_BASE/script_VPC_LOESS.R
06. Correlacion_ETA/MODELO_BASE/History/2020-03-03_11h54m17s/MODELO_BASE/script_VPC.R
06. Correlacion_ETA/MODELO_BASE/History/2020-03-03_11h54m17s/MODELO_BASE/script_graficos.R
06. Correlacion_ETA/MODELO_BASE/History/2020-02-26_11h10m12s/RES_M1/vpc_environ.RData
06. Correlacion_ETA/MODELO_BASE/History/2020-02-26_11h10m12s/RES_M1/script_VPC_modificado.R
06. Correlacion_ETA/MODELO_BASE/History/2020-02-26_11h10m12s/RES_M1/script_VPC_LOESS.R
06. Correlacion_ETA/MODELO_BASE/History/2020-02-26_11h10m12s/RES_M1/script_VPC.R
06. Correlacion_ETA/MODELO_BASE/History/2020-02-26_11h10m12s/RES_M1/script_graficos.R
06. Correlacion_ETA/MODELO_BASE/History/2020-02-26_11h10m12s/RES_M1/pcvpc_environ.RData
06. Correlacion_ETA/MODELO_BASE/History/2020-02-26_10h54m28s/RES_M1/vpc_environ.RData
06. Correlacion_ETA/MODELO_BASE/History/2020-02-26_10h54m28s/RES_M1/script_VPC_modificado.R
06. Correlacion_ETA/MODELO_BASE/History/2020-02-26_10h54m28s/RES_M1/script_VPC_LOESS.R
06. Correlacion_ETA/MODELO_BASE/History/2020-02-26_10h54m28s/RES_M1/script_VPC.R
06. Correlacion_ETA/MODELO_BASE/History/2020-02-26_10h54m28s/RES_M1/script_graficos.R
06. Correlacion_ETA/MODELO_BASE/History/2020-02-26_10h54m28s/RES_M1/pcvpc_environ.RData
*.prm
*.RData
*.ZMQ
*.bak
*.inp
02. Base/M1CPTM/ADAPT/1compcl.exe
05. Base_Boot/BOOT/Bootstrap_analisis/Bootstrap_analisis.Rproj
05. Base_Boot/BOOT2/Bootstrap_analisis/Bootstrap_analisis.Rproj
07. Minimizacion/2_Efecto_Evaluacion/res_eval_primero.html
05. Base_Boot/BOOT2/Bootstrap_analisis/Bootstrap_analisis.Rproj
05. Base_Boot/BOOT2/Bootstrap_analisis/Bootstrap_analisis.Rproj
07. Minimizacion/2_Efecto_Evaluacion/res_eval_primero.html
15. Final\1_Modelo_Inicial\boot
15. Final\3_Transform_Both_Sides\tbs_folder_2
/16. Simulaciones/*
